<div class="opaque centered bar">
  <a ui-sref="home"><img class="logo" src="img/logo.png"></a>
</div>
<div ng-show="stateIs('home')" class="centered">
  <h1 class="huge">Enter your location</h1>
  <div class="location">
    <div class="ui massive icon fluid input">
      <input ng-autocomplete options="searchOptions" ng-model="location" type="text" ng-keypress="enterLocation(location, $event)" placeholder="San Francisco" autofocus/>
      <i ng-click="enterLocation(location)" class="search icon"></i>
    </div>
  </div>
</div>
<div class="recs" ui-view></div>
