<div id='rec'>
  <div class='ui padded center aligned grid'>

    <div class='row'>
      <div class='eight wide column'>
        <div class='ui segment'>
          <h1>Cleaver</h1>
          <div class="ui fluid icon input">
          </div>
        </div>
      </div>
    </div>

    <div class='row' ng-repeat="restaurant in data.recs">
      <div class='eight wide column'>
        <div class='ui segment' ng-click="vetoRestaurant(restaurant.id)">
          <div class="ui three column relaxed fitted grid">

            <div class="three wide column">
              <img class="ui middle aligned circular tiny image" src="{{restaurant.image_url}}">
            </div> <!-- FIRST COLUMN -->

            <div class="nine wide column">
              <div class='row' id="ht">
                <span class="header left floated" ><b>{{restaurant.name}}</b></span>
              </div>
              <div class="row">
                <span>{{restaurant.display_phone}}</span>
              </div>
              <div class="row" id="awef">
                <span>{{restaurant.location.display_address[0]}}</span>
              </div>
              <div class="row">
                <span>{{restaurant.location.display_address[3]}}</span>
              </div>
              <div class="row">
                <span ng-repeat="category in restaurant.categories" ng-click="vetoCategory(category[1]); $event.stopPropagation();"> {{category[0]}} </span>
              </div>
            </div> <!-- SECOND COLUMN -->

            <div class="four wide column">
              <div class="row">
                <img class="ui image" src="{{restaurant.rating_img_url}}">
              </div>
              <div class="row">
                <span> {{restaurant.review_count}} Reviews </span>
              </div>
              <div class="row">
                <span> $$ </span>
              </div>
              <div class="row">
                <span> 1.5 Miles </span>
              </div>
            </div> <!-- THIRD COLUMN -->

          </div> <!-- GRID -->
        </div> <!-- SEGMENT -->
      </div> <!-- FULL COLUMN -->
    </div> <!-- ROW -->

  </div> <!-- ui padded center aligned grid -->
</div> <!-- ID = REC -->
