<div id='rec'>
  <div class='ui padded center aligned grid'>

    <div class='row'>
      <div class='eight wide column'>
        <div class='ui segment'>
          <h1>Cleaver</h1>
          <div class="ui fluid icon input">
          </div>
        </div>
      </div>
    </div>

    <div class='row'>
      <div class='eight wide column'>
        <div class='ui segment'>
          <div class="ui list">
            <div class="item">
              <img class="ui middle aligned circular tiny image" src="http://s3-media2.fl.yelpcdn.com/bphoto/FOr7HkVjR44WkF_ZkR3pdA/ms.jpg">
              <div class="content">
                <h2 class="header left floated">China Star</h2>
                </br>
                </br>
                <img class="ui left floated image" src="http://s3-media3.fl.yelpcdn.com/assets/2/www/img/34bc8086841c/ico/stars/v1/stars_3.png">
                <span class="ui left floated"> Reviews: 16 </span>
                </br>
                </br>
                <span class='left floated'>
                  Short description of the restaurant
                </span>
                <div class="list">
                  <div class="item">
                    <div class="content">
                      <a class="header left floated">Hey man</a></br>
                      <div class="description">Hey man so I forgot to send you an invite to my party, but it's this saturday...</div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="content">
                      <a class="header left floated">How does polar bear</a> </br>
                      <div class="description">Have you ever wondered? How polar bear know what apple is...</div>
                    </div>
                  </div>
                </div> <!-- LIST -->
              </div> <!-- CONTENT -->
            </div> <!-- ITEM -->
          </div> <!-- UI LIST -->
        </div> <!-- SEGMENT -->
      </div> <!-- EIGHT WIDE COLUMN -->
    </div> <!-- ROW -->

    <div class='row'>
      <div class='eight wide column'>
        <div class='ui segment'>
          <div class="ui three column relaxed fitted grid">

            <div class="three wide column">
              <img class="ui middle aligned circular tiny image" src="http://s3-media2.fl.yelpcdn.com/bphoto/FOr7HkVjR44WkF_ZkR3pdA/ms.jpg">
            </div> <!-- FIRST COLUMN -->

            <div class="nine wide column">
              <div class='row' id="ht">
                <span class="header left floated" ><b>China Star</b></span>
              </div>
              <div class="row">
                <span>(123) 456-789</span>
              </div>
              <div class="row" id="awef">
                <span>123 Pennsylvania Ave.</span>
              </div>
              <div class="row">
                <span>Washington, DC 12345</span>
              </div>
              <div class="row">
                <span>Pizza</span>
                <span>Bar</span>
                <span>Italian</span>
              </div>
            </div> <!-- SECOND COLUMN -->

            <div class="four wide column">
              <div class="row">
                <img class="ui image" src="http://s3-media3.fl.yelpcdn.com/assets/2/www/img/34bc8086841c/ico/stars/v1/stars_3.png">
              </div>
              <div class="row">
                <span> 16 Reviews </span>
              </div>
              <div class="row">
                <span> $$ </span>
              </div>
              <div class="row">
                <span> 1.5 Miles </span>
              </div>
            </div> <!-- THIRD COLUMN -->

          </div> <!-- GRID -->
        </div> <!-- SEGMENT -->
      </div> <!-- FULL COLUMN -->
    </div> <!-- ROW -->

    <div class='row'>
      <div class='eight wide column'>
        <div class='ui segment'>
          <div class="ui list">
            <div class="item">
              <img class="ui middle aligned circular tiny image" src="http://fyionline.info/classifieds/upload//company/01_05_55_6.JPG">
              <div class="content">
                <h2 class="header left floated">Daniel Louise</h2>
                </br>
                </br>
                <div class="ui star rating left floated" data-max-rating="5">
                  <i class='icon active'></i>
                  <i class='icon active'></i>
                  <i class='icon active'></i>
                  <i class='icon active'></i>
                  <i class='icon'></i>
                </div>
                <!-- </br> -->
                <span class='left floated'>
                  Short description of the restaurant
                </span>
                <div class="list">
                  <div class="item">
                    <div class="content">
                      <a class="header left floated">Hey man</a></br>
                      <div class="description">Hey man so I forgot to send you an invite to my party, but it's this saturday...</div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="content">
                      <a class="header left floated">How does polar bear</a> </br>
                      <div class="description">Have you ever wondered? How polar bear know what apple is...</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class='row'>
      <div class='eight wide column'>
        <div class='ui segment'>
          <div class="ui list">
            <div class="item">
              <img class="ui middle aligned circular tiny image" src="http://fyionline.info/classifieds/upload//company/01_05_55_6.JPG">
              <div class="content">
                <h2 class="header left floated">Daniel Louise</h2>
                </br>
                </br>
                <div class="ui star rating left floated" data-max-rating="5">
                  <i class='icon active'></i>
                  <i class='icon active'></i>
                  <i class='icon active'></i>
                  <i class='icon active'></i>
                  <i class='icon'></i>
                </div>
                <!-- </br> -->
                <span class='left floated'>
                  Short description of the restaurant
                </span>
                <div class="list">
                  <div class="item">
                    <div class="content">
                      <a class="header left floated">Hey man</a></br>
                      <div class="description">Hey man so I forgot to send you an invite to my party, but it's this saturday...</div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="content">
                      <a class="header left floated">How does polar bear</a> </br>
                      <div class="description">Have you ever wondered? How polar bear know what apple is...</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class='row'>
      <div class='eight wide column'>
        <div class='ui segment'>
          <div class="ui list">
            <div class="item">
              <img class="ui middle aligned circular tiny image" src="http://fyionline.info/classifieds/upload//company/01_05_55_6.JPG">
              <div class="content">
                <h2 class="header left floated">Daniel Louise</h2>
                </br>
                </br>
                <div class="ui star rating left floated" data-max-rating="5">
                  <i class='icon active'></i>
                  <i class='icon active'></i>
                  <i class='icon active'></i>
                  <i class='icon active'></i>
                  <i class='icon'></i>
                </div>
                <!-- </br> -->
                <span class='left floated'>
                  Short description of the restaurant
                </span>
                <div class="list">
                  <div class="item">
                    <div class="content">
                      <a class="header left floated">Hey man</a></br>
                      <div class="description">Hey man so I forgot to send you an invite to my party, but it's this saturday...</div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="content">
                      <a class="header left floated">How does polar bear</a> </br>
                      <div class="description">Have you ever wondered? How polar bear know what apple is...</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div> <!-- ui padded center aligned grid -->
</div> <!-- ID = REC -->
