<div id='rec'>
  <div class='ui padded center aligned grid'>

    <div class='row'>
      <div class='eight wide column'>
        <div class='ui segment'>
          <h1>Cleaver</h1>
          <div class="ui fluid icon input">
          </div>
        </div>
      </div>
    </div>

    <div class='row' ng-repeat="restaurant in data.restaurants">
      <div class='eight wide column'>
        <div class='ui segment' ng-click="vetoRestaurant(restaurant.id)">
          <div class="ui three column relaxed fitted grid">
            <div class="five wide center aligned column">
              <img class="ui middle aligned center aligned circular tiny image" src="{{restaurant.image_url}}">
              <div class="row" style="font-size: 125%">
                <span ng-repeat="category in restaurant.categories" ng-click="vetoCategory(category[1]); $event.stopPropagation();"> {{category[0]}} </span>
              </div>
            </div> <!-- FIRST COLUMN -->

            <div class="seven wide column">
              <table>
                <thead>
                <tr>
                  <th>
                    <b style="font-size: 175%">{{restaurant.name}}</b>
                  </th>
                </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><span> 123 Pennsylvania Ave. </span></td>
                  </tr>
                  <tr>
                    <td>Washington, DC 12345</td>
                  </tr>
                  <tr>
                    <td><span>{{restaurant.display_phone}}</span></td>
                  </tr>
                </tbody>
              </table>
              <!-- <div class='row' id="ht">
                <span class="header left floated" ><b>China Star</b></span>
              </div>

              <div class="row" id="awef">
                <span>{{restaurant.location.display_address[0]}}</span>
              </div>
              <div class="row">
                <span>{{restaurant.location.display_address[3]}}</span>
              </div>
              <div class="row">
              -->

            </div> <!-- SECOND COLUMN -->
            <div class="four wide column" style="text-align: right; padding-top:22px">
              <table>
                <tbody>
                  <tr>
                    <td>
                      <img class="ui image" src="{{restaurant.rating_img_url}}">
                    </td>
                  </tr>
                  <tr>
                    <td><span> {{restaurant.review_count}} Reviews </span></td>
                  </tr>
                  <tr>
                    <td>$$</td>
                  </tr>
                  <tr>
                    <td>1.5 Miles</td>
                  </tr>
                </tbody>
              </table>

            </div> <!-- THIRD COLUMN -->
          </div> <!-- GRID -->
        </div> <!-- SEGMENT -->
      </div> <!-- FULL COLUMN -->
    </div> <!-- ROW -->

  </div> <!-- ui padded center aligned grid -->
</div> <!-- ID = REC -->
