<div class ="ui menu">
  <a class="disabled item">
     Distance (Miles)
  </a>
  <a class="item" ng-click="maxDistance(0.25)" ng-class="{active: 0.25 === maxDistance()}">
     0.25
  </a>
  <a class="item" ng-click="maxDistance(0.5)" ng-class="{active: 0.5 === maxDistance()}">
    0.5
  </a>
  <a class="item" ng-click="maxDistance(1)" ng-class="{active: 1 === maxDistance()}">
    1.0
  </a>
  <a class="item" ng-click="maxDistance(2)" ng-class="{active: 2 === maxDistance()}">
    2.0
  </a>
  <a class="item" ng-click="maxDistance(5)" ng-class="{active: 5 === maxDistance()}">
    5.0
  </a>
  <div class="right menu">
    <div class="disabled item" ng-click="undoIt()" id="undoButton">
      Undo Last Veto
    </div>
  </div>

</div>
<div class='ui segment restaurants' ng-repeat="restaurant in data.restaurants | orderBy:calculateScore | removeVetoes:data.restaurantVetoes:data.categoryVetoes | filterDistance:maxDistance() | limitTo: 4 | removeClosedPerm" ng-mouseenter="overlayBan($index)" ng-mouseleave="overlayBan($index)">
  <div class="ui grid">
    <div class="twelve wide column">
      <div class="ui rounded restaurant image" ng-style="{'background-image':'url({{restaurant.image_url}})'}" ng-click="vetoRestaurant(restaurant.id)">
        <div class="ui rounded restaurant overlay image">
          <i class="massive white ban icon"></i>
        </div>
      </div>
      <div class="restaurant title row">
        <a href="{{restaurant.url}}" target="_blank">{{restaurant.name}}</a>
      </div>
      <div class="row">{{restaurant.location.display_address[0]}}</div>
      <div class="row">{{restaurant.location.display_address[restaurant.location.display_address.length - 1]}}</div>
      <div ng-repeat="category in restaurant.categories" ng-click="vetoCategory(category[0]);" class="ui red compact tiny right labeled icon button">
        <i class="ban icon"></i>
        {{category[0]}}
      </div>
    </div>
    <div class="four wide right aligned column">
      <div class="row"><img class="restaurant rating" ng-src="{{restaurant.rating_img_url}}"></div>
      <div class="row">{{restaurant.review_count}} Reviews</div>
      <div class="row">{{data.dollars[restaurant.id]}}</div>
      <div class="row">{{restaurant.distance}} Miles</div>
      <div class="row">{{restaurant.display_phone}}</div>
    </div>
  </div> <!-- GRID -->
</div>
<div class="yelp">
    <img src="img/miniMapLogo.png">
</div>
