<div class="ui fluid input">
  <input ng-model-options="{ getterSetter: true }" ng-model="maxDistance" type="text"  placeholder="Enter max distance in miles"/>
</div>
<div class="ui red button" ng-click="undoIt()" ng-show="lastVeto.val">Undo {{formatUndo()}} veto</div>
<div class='ui segment' ng-repeat="restaurant in data.restaurants | orderBy:calculateScore | removeVetoes:data.restaurantVetoes:data.categoryVetoes | filterDistance:maxDistance() | limitTo: 4 | removeClosedPerm" ng-mouseenter="strikeThrough($index)" ng-mouseleave="strikeThrough($index)">
  <div class="ui grid">
    <div class="twelve wide column">
      <img class="ui rounded restaurant image" ng-src="{{restaurant.image_url}}">
      <div class="restaurant title row" ng-click="vetoRestaurant(restaurant.id)">{{restaurant.name}}</div>
      <div class="row">{{restaurant.location.display_address[0]}}</div>
      <div class="row">{{restaurant.location.display_address[restaurant.location.display_address.length - 1]}}</div>
      <div class="button row" style="font-size: 125%">
        <span class="mini ui button" ng-repeat="category in restaurant.categories" ng-click="vetoCategory(category[0]);">{{category[0]}}</span>
      </div>
    </div>
    <div class="four wide right aligned column">
      <div class="row"><img class="restaurant rating" ng-src="{{restaurant.rating_img_url}}"></div>
      <div class="row">{{restaurant.review_count}} Reviews</div>
      <div class="row">{{data.dollars[restaurant.id]}}</div>
      <div class="row">{{restaurant.display_phone}}</div>
    </div>
  </div> <!-- GRID -->
