body {
  background: url("../img/background_1.jpg");
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  background: rgba(3,95,170,0.3);
  min-height: 100%
}

.opaque {
  background-color: rgba(255,255,255,0.6);
}

.centered {
  text-align: center;
}

.bar {
  height: 100px;
}

.logo {
  max-width: 90%;
  max-height: 90%;
  padding: 20px 0;
}

.huge {
  color: white;
  font-family: 'Nunito', sans-serif;
  font-size: 6rem;
  font-weight: 300;
  letter-spacing: 0.18rem;
  margin-top: 8%;
}

.location {
  margin: 0 auto;
  padding: 5% 0;
  max-width: 500px;
}

.ui.input > input {
  border-radius: 30px;
}

.ui.input > input:focus {
  background: #fff;
}

.recs {
  margin: 0 auto;
  max-width: 800px;
}

.card {
  padding-bottom: 2px;
}

td {
  padding: 2px 0;
}

div.three img {
  position: relative;
  top: 2px;
}

div.four table, div.four img {
  float: right;
}

div.nine table {
  position: relative;
  top: -7px;
}
/*
.ng-enter {
  -webkit-transition: 1s linear all;
  transition: 1s linear all;
  opacity: 0;
}
.ng-leave {
  -webkit-transition: .5s linear all;
  transition: .5s linear all;
  opacity: 1;
}
.ng-enter.ng-enter-active {
    opacity: 1;
}

.ng-leave.ng-leave-active {
  opacity: 0;
}
*/
.restaurant-title:hover {
  cursor: pointer;
}
