body {
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  background: rgba(3,95,170,0.3);
  min-height: 100%;
}

.opaque {
  background-color: rgba(255,255,255,0.6);
}

.centered {
  text-align: center;
}

.bar {
  height: 100px;
}

.logo {
  max-width: 90%;
  max-height: 90%;
  padding: 20px 0;
}

.huge {
  color: white;
  font-family: 'Nunito', sans-serif;
  font-size: 6rem;
  font-weight: 300;
  letter-spacing: 0.18rem;
  margin-top: 8%;
}

.location {
  margin: 0 auto;
  max-width: 500px;
}

.ui.input > input {
  border-radius: 30px;
}

.ui.input > input:focus {
  background: #fff;
}

.recs {
  margin: 0 auto;
  max-width: 800px;
  padding: 6% 0;
}

.ui.segment {
  padding-top: 6px;
  margin: 4px auto;
}

.row {
  padding: 2px 0;
}

.restaurant.image {
  float: left;
  height: 100px;
  width: 100px;
  margin-right: 14px;
  margin-top: 10px;
  overflow: hidden;
  cursor: pointer;
}

.overlay {
  background-color: rgba(217,92,92,0.75)!important;
  margin: 0 0!important;
  opacity: 0;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
}

.overlay .icon {
  margin-left: 2px;
  margin-top: -5px;
  text-align: left;
}

.restaurant.image:hover .overlay {
  opacity: 1;
}

.restaurant.rating {
  margin-top: 8px;
  margin-bottom: -8px;
}

.restaurant.title.row {
  font-size: 1.8rem;
  font-weight: bold;
}

.ui[class*="right labeled"].icon.button {
font-size: 0.95rem;
padding-right: 3.57142em!important;
padding-left: 1em!important;
}

.strike {
  text-decoration: line-through;
}

#undoButton {
  cursor: pointer;
}

#undoButton.disabled {
  cursor: default;
}

/*
.ng-enter {
  -webkit-transition: 1s linear all;
  transition: 1s linear all;
  opacity: 0;
}
.ng-leave {
  -webkit-transition: .5s linear all;
  transition: .5s linear all;
  opacity: 1;
}
.ng-enter.ng-enter-active {
    opacity: 1;
}

.ng-leave.ng-leave-active {
  opacity: 0;
}
*/
.restaurant-title:hover {
  cursor: pointer;
}

