// Usage: Copy this file to authConfig.js and replace each value below.

module.exports = {
  OAuthToken: 'Token',
  OAuthTokenSecret: 'TokenSecret',
  key: 'Consumer Key',
  secret: 'Consumer Secret'
};
